body{
    text-align:center;
    background-image: url("https://live.staticflickr.com/3084/2660886741_ea4b000d2a_b.jpg");
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-style: oblique;
    text-shadow: 3px 2px #1b2557;
    color: #e8b923;
}

.letter {
    font-family: cursive;
    font-style: oblique;
    font-size:60px;
    color: #e8b923;
}

.wrong {
    font-family: optima, candara, garamond;
    font-size:30px;
    background-color: rgba(255,255,255,0.3);
}

input{
    font-family: cursive;
    font-size: 20px;
    padding: 6px 1px;
    border-radius: 7px;
    background: rgba(255,255,255,0.4);
    text-align: center;
}

.button{
    font-style: oblique;
    font-size: 20px;
    background-color: #05aae0;
    color: white; 
    border-radius: 8px;
    padding: 10px 16px;
}

#hangman {
    height: 400px;
}
